@import '~bruce/bruce';
@include BruceReset;
@include BruceBoxSizing;
@import '~dcme-style/lib/all';

@include DcmeConfig;
$bruce-fonts: (
    'heading': (zeitung-mono, sans-serif),
    'copy': (zeitung-mono, sans-serif),
    'monospace': (zeitung-mono, sans-serif)
);
@include DcmeBase {
    body {
        font-size: 14px;
    }
}

@include DcmeBox {
    &-example {
        margin-left: -2rem;
        margin-right: -2rem;
    }

    &-exampleInner {
        border: 2px dashed grey(90);
        padding: 2rem;
    }
}
@include DcmeBulletList;
@include DcmeButton;
@include DcmeCenteredLanding;
@include DcmeDivider;
@include DcmeGrid;
@include DcmeImage {
    &-logo {
        @include BruceBreakpoint('small') {
            margin-top: -50%;
        }
    }
    &-apiPageIcon {
        display: none !important;
        float: right;
        width: 30%;
        margin-top: -2rem;
        margin-bottom: 0;
        margin-left: 1rem;

        @include BruceBreakpoint('large') {
            display: block !important;
        }
    }
}
@include DcmeInput;
@include DcmeLink {
    font-style: normal;
}
@include DcmeLabel;
@include DcmeMessage;
@include DcmeNavigationList {
    padding-top: 0;
    font-style: italic;

    &_heading {
        font-style: italic !important;
    }
}
@include DcmeOrderedList;
@include DcmeTable;
@include DcmeTerminal;
@include DcmeText {
    &-sizeGiga,
    &-sizeMega,
    &-sizeKilo {
        font-weight: 100;
        font-style: italic;
    }
    &-superDuper {
        text-shadow: -6px 6px 0px darken(color('primary'), 15),
            -12px 12px 0px #340e57
    }

    &-superDuperReadme {
        color: #000;
        line-height: 4.2rem;
        padding-left: .7rem;
        text-shadow: -6px 6px 0px lighten(color('primary'), 10),
            -12px 12px 0px lighten(color('primary'), 30)
    }

    &-weightMicro {
        color: inherit;
    }
}
@include DcmeTypography {
    pre,
    code {
        background-color: hsla(0, 0, 0, 0.2);
    }

    pre code {
        background-color: transparent;
    }
};
@include DcmeWrapper;

.Theme {
    $colors: (
        bruce: (
            foreground: #cee1f1,
            background: #272531,
        ),
        moose: (
            foreground: #c5b4aa,
            link: #77463a,
            background: hsl(0, 14, 17)
        ),
        goose: (
            background: #bf5a30,
            foreground: #ffe0d3,
            link: #e4a185,
        ),
        spruce: (
            background: hsl(168, 14, 14),
            foreground: #8dbbb1,
            link: #055a48,
        )
    );
    min-height: 100%;
    padding-bottom: 5rem;
    @each $name, $theme in $colors {
        &-#{$name} {
            background-color: map-get($theme, 'background');
            color: map-get($theme, 'foreground');
            .Link {
                color: map-get($theme, 'link');
                font-style: normal;
            }

            blockquote {
                background-color: hsla(0, 0, 0, 0.2);
                border-left-color: map-get($theme, 'foreground');
            }
        }
    }
}
