@import '~bruce/bruce';
@include BruceReset;
@include BruceBoxSizing;
@import '~dcme-style/lib/all';
@include DcmeConfig;

$moose: #713e21 !global;
$goose: #bf5a30 !global;
$spruce: #055a48 !global;
$bruce: #2c3b77 !global;

@include DcmeBase;
@include DcmeBox {
    &-landing {
        box-shadow:
            inset 0 .5rem 0 $moose,
            inset 0 1rem 0 $goose,
            inset 0 1.5rem 0 $spruce,
            inset 0 2rem 0 $bruce
        ;

    }

    &-example {
        margin-left: -2rem;
        margin-right: -2rem;
    }

    &-exampleInner {
        border: 2px dashed grey(90);
        padding: 2rem;
    }
}
@include DcmeBulletList;
@include DcmeButton;
@include DcmeCenteredLanding;
@include DcmeDivider;
@include DcmeGrid;
@include DcmeImage {
    &-logo {
        @include BruceBreakpoint('small') {
            margin-top: -50%;
        }
    }
    &-apiPageIcon {
        display: none !important;
        float: right;
        width: 30%;
        margin-top: -2rem;
        margin-bottom: 0;
        margin-left: 1rem;

        @include BruceBreakpoint('large') {
            display: block !important;
        }
    }
}
@include DcmeInput;
@include DcmeLink;
@include DcmeLabel;
@include DcmeMessage;
@include DcmeNavigationList {
    padding-top: 0;
}
@include DcmeOrderedList;
@include DcmeTable;
@include DcmeTerminal;
@include DcmeText {
    &-superDuper {
        text-shadow: -6px 6px 0px darken(color('primary'), 15),
            -12px 12px 0px #340e57
    }

    &-superDuperReadme {
        color: #000;
        line-height: 4.2rem;
        padding-left: .7rem;
        text-shadow: -6px 6px 0px lighten(color('primary'), 10),
            -12px 12px 0px lighten(color('primary'), 30)
    }
}
@include DcmeTypography;
@include DcmeWrapper {
    &-moose {
        color: darken($moose, 16);
        .Link {
            color: $moose;
        }
    }

    &-goose {
        color: darken($goose, 24);
        .Link {
            color: $goose;
        }
    }

    &-spruce {
        color: darken($spruce, 16);
        .Link {
            color: $spruce;
        }
    }
}
